@charset "utf-8";
/* CSS Document*/
body{
    background-color:rgb(199, 198, 190);
    margin:0px;
    padding:0px;
}
 
ul{
    list-style:none;
}
 
a{
    text-decoration:none;
}
 
section{
    width:100%;
    height:95vh;
    position: relative;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:rgb(44, 38, 10);
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
     
}
nav ul{
    display: flex;
}
  
nav ul li a{
    margin:30px;
    font-family:myriad pro regular;
    color:white;
    font-size: 15px;
    font-weight:700;
}
 
.logo{
    font-family:RoadTest;
    color:white;
    font-size: 22px;
    font-weight: bold;
}
 
.active{
    color:rgb(65, 55, 27);
    font-weight:bold;
}
 
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
 
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1a1a;
    font-size: 60px;
}
 
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 55px 0px 25px;
}
 
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
 

 
 
