@charset "utf-8";
body{
    background-color:rgb(199, 198, 190);
    margin:0px;
    padding:0px;
}
 
ul{
    list-style:none;
}
 
a{
    text-decoration:none;
}
 
section{
    width:100%;
    height:95vh;
    position: relative;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:rgb(44, 38, 10);
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
     
}
nav ul{
    display: flex;
}
  
nav ul li a{
    margin:30px;
    font-family:myriad pro regular;
    color:rgb(252, 251, 247);
    font-size: 15px;
    font-weight:700;
}
 
.logo{
    font-family:RoadTest;
    color:rgb(252, 251, 251);
    font-size: 22px;
    font-weight: bold;
}
 
.active{
    color:rgb(65, 55, 27);
    font-weight:bold;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-container p:nth-child(3){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(41, 34, 24);
    font-size: 60px;
}

 
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
 
.contact-btn{
    border: 2px solid rgb(30, 23, 5);
    color: rgb(119, 113, 93);
    background-color: rgb(241, 241, 231);
    text-decoration-color: black;
}

.tele-btn{
    border: 2px solid rgb(30, 23, 5);
    color: rgb(119, 113, 93);
    background-color: rgb(241, 241, 231);
    text-decoration-color: black;
}
.twitter-btn{
    border: 2px solid rgb(30, 23, 5);
    color: rgb(119, 113, 93);
    background-color: rgb(241, 241, 231);
    text-decoration-color: black;
}
button:active{
    transform: scale(1.1);
}


